@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: #f8f9fc;
}

.sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.35rem;
}
